* {
	box-sizing: border-box;
	outline: 0px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 32px;
	margin-top: calc(32px + 32px);
}

hr {
	border: none;
	border-top: 1px solid #F3F4F6;
	height: 0px;
	margin-top: 22px;
	margin-bottom: 22px;
}

#side {
	color: #FFFFFF;
	display: inline-block;
	float: left;
	font-family: "proxima-nova-soft", sans-serif;
	font-weight: 600;
	text-align: center;
}

#current, #info, #graph {
	border: 1px solid #F0F1F2;
	border-radius: 2px;
	margin: 32px;
	padding: 32px;
	box-shadow: 0px 1px 66px -37px rgba(54, 163, 235, 0.3);
}

#current {
	margin-top: 0px;
}

#info {
	color: #35373A;
	text-align: left;
}

#side p {
	border-radius: 8px;
	padding: 16px;
	width: 180px;
}

#side span {
	position: absolute;
}

#waterLevel {
	background: #FF6384;
	padding-right: 32px !important;
}

/* TODO: Center with false as well */
#vibrate {
	background: #36A2EB;
	padding-right: 38px !important;
}

#info a {
	border-bottom: 1px solid #36A2EB;;
	color: #36A2EB;
}

#graph {
	overflow: hidden;
}
